* {
  font-family: sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.card {
  min-width: 150px;
  overflow-wrap: break-word;
  transition: all 0.35s;
}
.card:hover {
  transform: translateY(-10px);
  padding-bottom: 10px;
}
.black-card {
  min-width: 150px;
  overflow-wrap: break-word;

  background-color: #212121 !important;
  color: white !important;
}

#connect-area {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#game-area {
  max-width: 95%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#hand {
  position: fixed;
  bottom: 15px;
}
