@import url('https://fonts.googleapis.com/css?family=Heebo:800');

* {
  font-family: sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.card {
  min-width: 150px;
  overflow-wrap: break-word;
  transition: transform 350ms cubic-bezier(0.19, 1, 0.22, 1), opacity 350ms linear, margin-right 350ms cubic-bezier(0.19, 1, 0.22, 1);
}
.item-enter {
  transform: translateX(100vw);
}
.item-enter-active {
  transform: translateX(0);
}
.item-exit {
  transform: translateY(0);
  opacity: 1;
  margin-right: 0;
}
.item-exit-active {
  transform: translateY(-60vh);
  opacity: 0; 
  margin-right: -150px !important;
}
.card-hover:hover:not(.item-exit-active) {
  transform: translateY(-10px);
  padding-bottom: 10px;
}
.white-card {
  div {
    font-family: 'Heebo', sans-serif;
    color: #383838;
    
    span {
      font-family: 'Heebo', sans-serif;
      color: #383838;
    }
  }
}
.black-card {
  min-width: 150px;
  overflow-wrap: break-word;

  background-color: #212121 !important;
  color: white !important;

  span {
    font-family: 'Heebo', sans-serif;
  }
}

#connect-area {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#game-area {
  max-width: 95%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#hand {
  position: fixed;
  bottom: 15px;
}
